@model IEnumerable<Kategori>

<div class="container mt-4">
    <h2 class="mb-4">Kategori Listesi</h2>
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Kategori" asp-action="KategoriEkle" class="btn btn-primary mb-3">Kategori Ekle</a>
    }
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Kategori Id</th>
                <th scope="col">Kategori Adı</th>
                <th scope="col">Açıklama</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.KategoriId)</td>
                        <td>@Html.DisplayFor(modelItem => item.KategoriAdi)</td>
                        <td>@Html.DisplayFor(modelItem => item.Aciklama)</td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <a asp-controller="Kategori" asp-action="KategoriGuncelle" asp-route-id="@item.KategoriId"
                                class="btn btn-primary btn-sm">Güncelle</a>
                            </td>
                            <td>
                                <a asp-controller="Kategori" asp-action="KategoriSil" asp-route-id="@item.KategoriId"
                                class="btn btn-danger btn-sm">Sil</a>
                            </td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">Listelenecek kategori bulunamadı.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
