@model IEnumerable<Yayinevi>

<div class="container mt-4">
    <h2 class="mb-4">Yayınevi Listesi</h2>

    <a asp-controller="YayinEvi" asp-action="YayinEviEkle" class="btn btn-primary mb-3">Yayınevi Ekle</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Yayınevi Id</th>
                <th scope="col">Yayınevi Adı</th>
                <th scope="col">Kuruluş Tarihi</th>
                <th scope="col">Adres</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.YayinEviId)</td>
                        <td>@Html.DisplayFor(modelItem => item.YayinEviAdi)</td>
                        <td>@Html.DisplayFor(modelItem => item.KurulusTarihi)</td>
                        <td>@Html.DisplayFor(modelItem => item.Adres)</td>
                        <td>
                            <a asp-controller="YayinEvi" asp-action="YayinEviGuncelle" asp-route-id="@item.YayinEviId"
                               class="btn btn-primary btn-sm">Güncelle</a>
                        </td>
                        <td>
                            <a asp-controller="YayinEvi" asp-action="YayinEviSil" asp-route-id="@item.YayinEviId"
                               class="btn btn-danger btn-sm">Sil</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">Listelenecek yayınevi bulunamadı.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
